In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r"C:\Users\Admin\OneDrive\Tài liệu\ITBLogisticDataset_cleaned.csv")
df

,Unnamed: 0,Order Id,Order Date,Order Status,Order Item Id,Order Item Quantity,Order Item Product Price,Order Item Discount,Order Item Discount Rate,Order Item Total,...,Latitude,Longitude,Order Month,Order Year,Shipping Mode_Same Day,Shipping Mode_Second Class,Shipping Mode_Standard Class,Shipping Mode_Same Day.1,Shipping Mode_Second Class.1,Shipping Mode_Standard Class.1
0,0,77202,2015-01-01 00:00:00,COMPLETE,180517,1,327.750000,13.110000,0.04,314.640015,...,18.251453,-66.037056,1,2015,0.0,0.0,1.0,0.0,0.0,1.0
1,1,75939,2015-01-01 00:21:00,PENDING,179254,1,327.750000,16.389999,0.05,311.359985,...,18.279451,-66.037064,1,2015,0.0,0.0,1.0,0.0,0.0,1.0
2,2,75938,2015-01-01 00:21:00,CLOSED,179253,1,327.750000,18.030001,0.06,309.720001,...,37.292233,-121.881279,1,2015,0.0,0.0,1.0,0.0,0.0,1.0
3,3,75937,2015-01-01 00:21:00,COMPLETE,179252,1,327.750000,22.940001,0.07,304.809998,...,34.125946,-118.291016,1,2015,0.0,0.0,1.0,0.0,0.0,1.0
4,4,75936,2015-01-01 01:03:00,PENDING_PAYMENT,179251,1,327.750000,29.500000,0.09,298.250000,...,18.253769,-66.037048,1,2015,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180511,180511,26043,2018-01-31 22:14:00,CLOSED,65177,1,399.980011,0.000000,0.00,399.980011,...,40.640930,-73.942711,1,2018,0.0,0.0,1.0,0.0,0.0,1.0
180512,180512,26037,2018-01-31 22:35:00,COMPLETE,65161,1,399.980011,4.000000,0.01,395.980011,...,35.362545,-119.018700,1,2018,0.0,1.0,0.0,0.0,1.0,0.0
180513,180513,26024,2018-01-31 22:56:00,PENDING,65129,1,399.980011,8.000000,0.02,391.980011,...,41.629959,-72.967155,1,2018,0.0,0.0,1.0,0.0,0.0,1.0
180514,180514,26022,2018-01-31 23:17:00,PENDING_PAYMENT,65126,1,399.980011,12.000000,0.03,387.980011,...,18.213350,-66.370575,1,2018,0.0,0.0,1.0,0.0,0.0,1.0
180515,180515,26018,2018-01-31 23:38:00,PENDING_PAYMENT,65113,1,399.980011,16.000000,0.04,383.980011,...,18.290380,-66.370613,1,2018,0.0,0.0,1.0,0.0,0.0,1.0

In [ ]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180516 entries, 0 to 180515
Data columns (total 48 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      180516 non-null  int64
 1   Order Id                        180516 non-null  int64
 2   Order Date                      180516 non-null  object
 3   Order Status                    180516 non-null  object
 4   Order Item Id                   180516 non-null  int64
 5   Order Item Quantity             180516 non-null  int64
 6   Order Item Product Price        180516 non-null  float64
 7   Order Item Discount             180516 non-null  float64
 8   Order Item Discount Rate        180516 non-null  float64
 9   Order Item Total                180516 non-null  float64
 10  Type                            180516 non-null  object
 11  Order Item Profit Ratio         180516 non-null  float64
 12  Sales                           180516 non-null  float64
 13  Benefit Per Order               180516 non-null  float64
 14  Sales Per Customer              180516 non-null  float64
 15  Real Day For Shipment           180516 non-null  int64
 16  Scheduled Day For Shipment      180516 non-null  int64
 17  Delivery Status                 180516 non-null  object
 18  Late Delivery Risk              180516 non-null  int64
 19  Shipping Mode                   180516 non-null  object
 20  Customer Id                     180516 non-null  int64
 21  Customer City                   180516 non-null  object
 22  Customer State                  180516 non-null  object
 23  Customer Country                180516 non-null  object
 24  Customer Zipcode                180516 non-null  float64
 25  Customer Segment                180516 non-null  object
 26  Category Name                   180516 non-null  object
 27  Product Card Id                 180516 non-null  int64
 28  Product Category Id             180516 non-null  int64
 29  Product Name                    180516 non-null  object
 30  Product Price                   180516 non-null  float64
 31  Department Id                   180516 non-null  int64
 32  Department Name                 180516 non-null  object
 33  Market                          180516 non-null  object
 34  Order City                      180516 non-null  object
 35  Order State                     180516 non-null  object
 36  Order Country                   180516 non-null  object
 37  Order Region                    180516 non-null  object
 38  Latitude                        180516 non-null  float64
 39  Longitude                       180516 non-null  float64
 40  Order Month                     180516 non-null  int64
 41  Order Year                      180516 non-null  int64
 42  Shipping Mode_Same Day          180516 non-null  float64
 43  Shipping Mode_Second Class      180516 non-null  float64
 44  Shipping Mode_Standard Class    180516 non-null  float64
 45  Shipping Mode_Same Day.1        180516 non-null  float64
 46  Shipping Mode_Second Class.1    180516 non-null  float64
 47  Shipping Mode_Standard Class.1  180516 non-null  float64
dtypes: float64(18), int64(13), object(17)
memory usage: 66.1+ MB

In [11]:
df.duplicated().sum()

np.int64(0)